<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feeling</title>
</head>
<main>
  <section class="feeling-art-section">
    <h1 class="title">Feeling in ART</h1>
    <div class="info-container">
      <div class="text-box">
        <p class="text">
          In visual art, feeling is often tied to the emotional response that a piece elicits in the viewer.
          Artists use color, form, texture, and composition to convey emotions such as joy, sadness, anger, or peace.
          The feeling of a painting, sculpture, or photograph can depend on the viewer's interpretation, cultural context,
          and personal experiences. For example, an abstract painting might evoke feelings of freedom or confusion,
          depending on its style and the viewer's perspective.
        </p>
      </div>
    </div>
    <div class="image-container">
      <img class="image" src="./assets/art.jpg" alt="woman staring at paintings">
      <img class="image" src="./assets/art_2.jpg" alt="humans painting">
    </div>
  </section>
</main>
