<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feeling</title>
</head>
<main>
  <section class="variations-section">
    <h1 class="title">What "Feeling" means to other?</h1>
    <div class="info-container">
      <div class="text-box">
        <p class="text">
          To me, feelings mean that I am shaken to my core, reminding me that I am alive, vulnerable, and deeply
          connected to the world and people around me.
        </p>
        <p class="text">Friend 1</p>
      </div>
      <div class="text-box">
        <p class="text">
          Feeling, in my opinion, encompasses a range of experiences that defy easy categorization.
          It is dynamic and constantly evolving, rooted in both the material and the immaterial.
          It reminds us to be present in the moment, to embrace life's highs and lows, and to seek connections with others and ourselves.
        </p>
        <p class="text">Friend 2</p>
      </div>
    </div>
    <div class="info-container">
      <div class="text-box">
        <p class="text">
          TODO
        </p>
        <p class="text">Friend 3</p>
      </div>
      <div class="text-box">
        <p class="text">
          TODO
        </p>
        <p class="text">Friend 4</p>
      </div>
    </div>
  </section>
</main>
