<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feeling</title>
</head>
<main>
  <section class="variations-section">
    <h1 class="title">Impossible contexts</h1>
    <div class="info-container">
      <div class="text-box">
        <p class="text">
          In the void of space, where there is no air, temperature, or medium to transmit touch,
          the idea of feeling becomes paradoxical. How could one "feel" the absence of everything?
          Would the lack itself become a sensation?
        </p>
      </div>
      <div class="text-box">
        <p class="text">
          Imagine a fully digital existence, where beings are lines of code and binary data.
          How could "feeling" exist without physical senses or emotions? Could algorithms simulate what it means to feel?
        </p>
      </div>
    </div>
    <div class="info-container">
      <div class="text-box">
        <p class="text">
          In a realm where time doesn't flow, feelings as fleeting experiences would seem contradictory.
          Without a beginning or end, how could a feeling arise, evolve, or fade?
        </p>
      </div>
      <div class="text-box">
        <p class="text">
          Can there be feeling without someone or something to feel it? Could a feeling exist independently,
          like a wandering entity, waiting to attach itself to a conscious mind?
        </p>
      </div>
    </div>
<!--    <img class="image" src="./assets/quote.png" alt="let yourself feel your feelings">-->
  </section>
</main>
