<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feeling</title>
</head>
<main>
    <section class="comparison-section">
        <h1 class="title">Feeling VS Emotion</h1>
        <div class="image-container-info">
            <div class="text-box">
                <p class="text">
                    Think of emotions as the sparks—they’re automatic, universal responses to stimuli, like joy, fear,
                    or anger. Feelings, on the other hand,
                    are how we make sense of those sparks, shaping them into something personal and conscious. For
                    example, fear is the emotion,
                    but saying “I feel scared” is the feeling—a reflection of how we interpret and experience it.
                </p>
            </div>
            <img class="image" src="./assets/spark.png" alt="human with spark">
        </div>
    </section>
</main>
