<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feeling</title>
</head>
<main>
  <section>
    <h1 class="title">Definitions</h1>
    <div class="image-container-info">
      <div class="text-box">
        <p class="sub-title">Physical Sensation</p>
        <p class="text">
          The capacity to perceive and experience sensations such as touch, temperature, pain, or motion, typically
          though the skin. It encompasses the awareness of physical conditions in the body or external stimuli.
        </p>
        <p class="example"><b>Example:</b> She experienced a soothing feeling of warmth from the sun on her skin.</p>
        <!--        <p class="sources"><b>Sources:</b> Merriam-Webster Dictionary, Cambridge Dictionary, Oxford Dictionary</p>-->
      </div>
      <img class="image" src="./assets/sun_on_skin.jpg" alt="girl in sun">
    </div>
    <div class="image-container-info">
      <img class="image" src="./assets/nostalgia.jpg" alt="girl looking at old photos with nostalgia">
      <div class="text-box">
        <p class="sub-title">Emotional State or Reaction</p>
        <p class="text">
          A conscious or subconscious mental and physiological condition triggered by a stimulus, characterized by a
          subjective awareness and interpretation of an emotion. It reflects personal responses to universal emotions,
          such as joy, sadness, anger, or fear, shaped by individual experiences, thoughts, and context.
        </p>
        <p class="example"><b>Example:</b>    A sudden feeling of nostalgia washed over her when she saw the old photos.</p>
      </div>
    </div>
    <div class="image-container-info">
      <div class="text-box">
        <p class="sub-title">Intuition or Instinct</p>
        <p class="text">
          A vague, instinctive awareness or impression of something, often arising without clear reasoning or evidence.
          This type of feeling reflects an internal sense rather than physical or emotional responses.
        </p>
        <p class="example"><b>Example:</b> Despite the sunny weather, she had a bad feeling about the trip.</p>
      </div>
      <img class="image" src="./assets/intuition.png" alt="girl with suitcase and umbrella, standing between rain and sun">
    </div>
    <div class="image-container-info">
      <img class="image" src="./assets/planet.png" alt="there is no planet b banner">
      <div class="text-box">
        <p class="sub-title">Opinion or Belief</p>
        <p class="text">
          A personal sentiment, judgement, or viewpoint influenced by emotions, intuition, or individual experience.
          Feelings in this sense are often subjective and can guide decisions or attitudes.
        </p>
        <p class="example"><b>Example:</b> He has strong feelings about the importance of climate change action.</p>
      </div>
    </div>
    <div class="image-container-info">
      <div class="text-box">
        <p class="sub-title">Empathy or Sensibility</p>
        <p class="text">
          The capacity to understand, share, and respond to the emotions or experiences of others, often reflecting a readiness
          to connect emotionally or aesthetically.
        </p>
        <p class="example"><b>Example:</b> She’s known for her sensitivity and feeling toward animals.</p>
      </div>
      <img class="image" src="./assets/cat.jpg" alt="girl hugging a cat">
    </div>
    <div class="image-container-info">
      <img class="image" src="./assets/cozy.jpg" alt="cozy cafe">
      <div class="text-box">
        <p class="sub-title">Atmosphere or Mood</p>
        <p class="text">
          The emotional tone, quality, or character of a place, situation, or artistic expression. This sense of feeling
          describes how an environment or creative work impacts perceptions and emotions.
        </p>
        <p class="example"><b>Example:</b> The café had a cozy, inviting feeling, perfect for a rainy afternoon.</p>
      </div>
    </div>
  </section>
</main>
