<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feeling</title>
</head>
<main>
  <section>
    <h1 class="title">Definitions</h1>
    <div class="image-container-info">
      <div class="text-box">
        <p class="sub-title">PHYSICAL SENSATION</p>
        <p class="text">
          The capacity to perceive and experience sensations such as touch, temperature, pain, or motion, typically
          though the skin. It encompasses the awareness of physical conditions in the body or external stimuli.
        </p>
        <br>
        <p class="example"><b>Example:</b> She experienced a soothing feeling of warmth from the sun on her skin</p>
<!--        <p class="sources"><b>Sources:</b> Merriam-Webster Dictionary, Cambridge Dictionary, Oxford Dictionary</p>-->
      </div>
      <img class="image" src="./assets/sun_on_skin.jpg" alt="girl in sun">
    </div>
    <div class="image-container-info">
      <img class="image" src="./assets/spark.png" alt="human with spark">
      <div class="text-box">
        <p class="text">
          Think of emotions as the sparks—they’re automatic, universal responses to stimuli, like joy, fear,
          or anger. Feelings, on the other hand,
          are how we make sense of those sparks, shaping them into something personal and conscious. For
          example, fear is the emotion,
          but saying “I feel scared” is the feeling—a reflection of how we interpret and experience it.
        </p>
      </div>
    </div>
    <div class="image-container-info">
      <div class="text-box">
        <p class="text">
          Think of emotions as the sparks—they’re automatic, universal responses to stimuli, like joy, fear,
          or anger. Feelings, on the other hand,
          are how we make sense of those sparks, shaping them into something personal and conscious. For
          example, fear is the emotion,
          but saying “I feel scared” is the feeling—a reflection of how we interpret and experience it.
        </p>
      </div>
      <img class="image" src="./assets/spark.png" alt="human with spark">
    </div>
    <div class="image-container-info">
      <img class="image" src="./assets/spark.png" alt="human with spark">
      <div class="text-box">
        <p class="text">
          Think of emotions as the sparks—they’re automatic, universal responses to stimuli, like joy, fear,
          or anger. Feelings, on the other hand,
          are how we make sense of those sparks, shaping them into something personal and conscious. For
          example, fear is the emotion,
          but saying “I feel scared” is the feeling—a reflection of how we interpret and experience it.
        </p>
      </div>
    </div>
  </section>
</main>
