<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feeling</title>
</head>
<main>
  <section class="emotion-vs-feeling-section">
    <div class="emotion-vs-feeling-section__content-wrapper">
      <h1 class="emotion-vs-feeling-section__title">Feeling VS Emotion</h1>
      <div class="emotion-vs-feeling-section__text-box">
        <p class="emotion-vs-feeling-section__text">
          Think of emotions as the sparks—they’re automatic, universal responses to stimuli, like joy, fear, or anger. Feelings, on the other hand,
          are how we make sense of those sparks, shaping them into something personal and conscious. For example, fear is the emotion,
          but saying “I feel scared” is the feeling—a reflection of how we interpret and experience it.
        </p>
      </div>
    </div>
    <div class="emotion-vs-feeling-section__image-container">
      <div class="emotion-vs-feeling-section__image origin-section__image-right"></div>
    </div>
  </section>
</main>
