@import "src/variables";

:host {
  display: block;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}

.origin-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $beige;


  &__content-wrapper {
    @include flex-center;
    width: 80%;
    flex-direction: column;
    padding-bottom: $spacing-s;
  }

  &__title {
    font-size: $font-size-second-title-desktop;
    text-align: center;
    font-family: $font-family;
    color: $dark-cherry;
  }

  &__text-box {
    @include flex-center;
    flex-direction: column;
    width: 70%;
    padding: $spacing-xs;
    background-color: white;
    color: $brown;
    box-shadow: var(--box-shadow);
    border-radius: 40px;
  }

  &__question {
    color: $cherry;
  }

  &__text {
    width: 70%;
    text-align: center;
    font-family: $font-family;
    line-height: var(--line-height);
  }

  &__image-container {
    display: flex;
    justify-content: center;
    gap: $spacing-xl;
    padding: $spacing-l;
  }

  &__image {
    max-width: 30%;
    height: auto;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
  }
}


@media only screen and (max-width: 430px) {
  .origin-section {
    &__title {
      font-size: $font-size-second-title-mobile;
    }

    &__text-box {
      font-size: $font-size-mobile;
      width: 100%;
    }

    &__image {
      max-width: 100%; /* Adjusts the size of each image */
      margin: $spacing-xs;
    }

    &__image-container{
      flex-wrap: wrap;
      padding: 20px;
      gap: $spacing-xs;
    }

  }

}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .text-box {
    width: auto;
  }

  .title {
    font-size: $font-size-second-title-netbook-tablet;
  }

  .image-container-info {
    gap: $spacing-m;
    padding: $spacing-m $spacing-s;
  }

}

@media only screen and (min-width: 321px) and (max-width: 1024px) {
  .origin-section {
    &__title {
      font-size: $font-size-second-title-netbook-tablet;
    }
  }
}
