<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feeling</title>
</head>
<main>
  <section class="origin-section">
    <div class="origin-section__content-wrapper">
      <h1 class="origin-section__title">Explore the Origins</h1>
      <div class="origin-section__text-box">
        <p class="origin-section__text">
          Have you ever wondered where the word “feeling” comes from? Its roots trace back to the Old English term felan, meaning “to touch” or “to perceive,” which itself evolved from the Proto-Germanic foljan, meaning “to
          feel” or “to touch.” Over time, this simple idea of physical sensation grew to encompass the rich world of emotional experiences.
        </p>
      </div>
    </div>
    <div class="origin-section__image-container">
      <div class="origin-section__image origin-section__image-left"></div>
      <div class="origin-section__image origin-section__image-middle"></div>
      <div class="origin-section__image origin-section__image-right"></div>
    </div>
  </section>
</main>
