@import "src/variables";

.origin-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content-wrapper {
    @include flex-center;
    width: 80%;
    flex-direction: column;
    padding-bottom: $spacing-s;
  }

  &__title {
    font-size: $font-size-second-title-desktop;
    text-align: center;
    font-family: $font-family;
    color: $dark-cherry;
  }

  &__text-box {
    @include flex-center;
    flex-direction: column;
    width: 70%;
    padding: $spacing-xs;
    background-color: white;
    color: $brown;
    box-shadow: var(--box-shadow);
    border-radius: 40px;
  }

  &__question {
    color: $cherry;
    cursor: pointer;

    &:active {
      color: $dark-cherry;
    }
  }

  &__text {
    width: 70%;
    text-align: center;
    font-family: $font-family;
    line-height: var(--line-height);
  }

  &__image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }

  &__image {
    width: 90%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &-left {
      background-image: url("/assets/origin_1.jpg");
    }

    &-middle {
      background-image: url("/assets/origin_2.jpg");
    }

    &-right {
      background-image: url("/assets/origin_3.jpg");
    }
  }
}

@media only screen and (max-width: 430px) {
  .origin-section {
    &__title {
      font-size: $font-size-second-title-mobile;
    }

    &__text-box {
      font-size: 0.9rem;
      width: 100%;
    }

    &__image {
      height: 55vh;
      margin: $spacing-xs;
    }

    &__image-container{
      flex-wrap: wrap;
    }

  }

}

@media only screen and (min-width: 321px) and (max-width: 1024px) {
  .origin-section {
    &__title {
      font-size: $font-size-second-title-netbook-tablet;
    }
  }
}
