<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feeling</title>
</head>
<main>
  <section class="feeling-cooking-section">
    <h1 class="title">Feeling in Cooking</h1>
    <div class="info-container">
      <div class="text-box">
        <p class="text">
          In the context of cooking, feeling often relates to the sensory experience of taste, smell, and texture,
          as well as the emotional connections we have to food. Comfort foods, for instance, can evoke feelings of
          nostalgia, warmth, or security. A meal prepared with care and attention can bring a sense of love, tradition,
          or joy, while the act of cooking itself can be a form of emotional release or meditation. In this context,
          the feeling is not only in the enjoyment of the meal but also in the act of preparing and sharing food.
        </p>
      </div>
    </div>
    <div class="image-container">
      <img class="image" src="./assets/cooking.jpg" alt="healthy food">
      <img class="image" src="./assets/cooking_2.jpg" alt="friends cooking together">
    </div>
  </section>
</main>
