<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feeling</title>
</head>
<main>
  <section class="feeling-music-section">
    <h1 class="title">Feeling in Music</h1>
    <div class="info-container">
      <div class="text-box">
        <p class="text">
          Music is one of the most powerful ways to express emotions. The way melodies, harmonies, rhythms, and changes
          in volume are arranged can create many different feelings. A fast rhythm might make you feel excited or happy,
          while a slow, sad melody might make you feel down or reflective. Different types of music or instruments can
          bring out different emotions, depending on culture and personal taste. Music often expresses feelings that are
          hard to put into words, which is why it has a special ability to change how we feel and see things.
        </p>
      </div>
    </div>
    <div class="image-container">
      <img class="image" src="./assets/music.jpg" alt="'music is what feelings sound like' - quote">
      <img class="image" src="./assets/music_2.jpg" alt="hands playing piano">
    </div>
  </section>
</main>
