<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feeling</title>
</head>
<main class="contents">
  <div class="heading-container">
    <div class="heading-container__title">
      <h1 class="heading-container__title-text">
        Unfold the beauty of 'Feeling', one seed at a time.
      </h1>
    </div>
    <button (click)="scrollToNextSection()" class="heading-container__button-start">Start</button>
  </div>
  <app-history-component id="history-section"></app-history-component>
  <hr class="separator">
  <app-feeling-vs-emotion></app-feeling-vs-emotion>
  <hr class="separator">
  <app-definitions></app-definitions>
  <hr class="separator">
  <app-impossible-context></app-impossible-context>
  <hr class="separator">
  <app-word-derivates></app-word-derivates>
  <hr class="separator">
  <app-mean-to-others></app-mean-to-others>
  <hr class="separator">
</main>
</html>
