<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feeling</title>
</head>
<main>
  <section>
    <h1 class="title">Feelings as Emotional States</h1>
    <div class="image-container-info">
      <div class="text-box">
        <p class="sub-title">Happiness</p>
        <p class="text">
          Happiness is a feeling of joy and satisfaction. It happens when something makes us feel good, whether it's spending
          time with others, achieving something we wanted, or enjoying a fun experience. It makes us feel positive and energized.
        </p>
      </div>
      <img class="image" src="./assets/happiness.png" alt="girl laughing">
    </div>
    <div class="image-container-info">
      <img class="image" src="./assets/crying_sadness.jpg" alt="eye crying">
      <div class="text-box">
        <p class="sub-title">Sadness</p>
        <p class="text">
          Sadness is a feeling of sorrow or disappointment, often linked to loss, failure, or unmet expectations.
          It can bring a sense of heaviness or grief, leading to introspection and a need for comfort or healing.
        </p>
      </div>
    </div>
    <div class="image-container-info">
      <div class="text-box">
        <p class="sub-title">Anger</p>
        <p class="text">
          Anger is a strong emotion that occurs when we feel something is unfair, frustrating, or threatening.
          It can make us feel upset, irritated, or even hostile. When angry, we may want to confront the issue, change the situation, or express our frustration to others.
        </p>
      </div>
      <img class="image" src="./assets/anger.png" alt="human on fire">
    </div>
    <div class="image-container-info">
      <img class="image" src="./assets/fear.png" alt="women captured by multiple hands expressing fear">
      <div class="text-box">
        <p class="sub-title">Fear</p>
        <p class="text">
          Fear is a feeling of being scared or anxious, usually when we think something bad might happen.
          It makes us want to avoid danger or protect ourselves. Fear can be mild, like feeling nervous, or very strong, like feeling terrified.
        </p>
      </div>
    </div>
  </section>
</main>
