@import "src/variables";

:host {
  display: block;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}

.title {
  font-size: $font-size-second-title-desktop;
  text-align: center;
  font-family: $font-family;
  color: $dark-cherry;
}

.text-box {
  width: 60%;
  padding: $spacing-s;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 40px;
}

.text {
  text-align: center;
  line-height: $line-height;
  font-family: $font-family;
  color: $brown;
}

.sub-title {
  font-size: $font-size-sub-title-desktop;
  text-align: center;
  line-height: $line-height;
  font-family: $font-family;
  color: $dark-little-cherry;
}

.example, .sources {
  padding-left: $spacing-s;
  line-height: $line-height;
  font-family: $font-family;
  color: $brown;
}

.image-container-info {
  @include flex-center;
  gap: $spacing-3xl;
  padding: $spacing-m 0;
}

.image {
  max-width: 20%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 430px) {
  .title {
    font-size: $font-size-second-title-mobile;
  }

  .image-container-info {
    flex-wrap: wrap;
    gap: $spacing-m;
    padding: $spacing-m;
  }

  .image {
    max-width: 100%;
  }

  .text-box {
    width: auto;
  }

  .example, .sources, .text {
    font-size: $font-size-mobile;
  }

  .sub-title {
    font-size: $font-size-sub-title-mobile;
  }
}

@media only screen and (min-width: 431px) and (max-width: 768px) {
  .text-box {
    width: auto;
  }

  .image {
    max-width: 35%;
  }

  .title {
    font-size: $font-size-second-title-netbook-tablet;
  }

  .image-container-info {
    gap: $spacing-m;
    padding: $spacing-m $spacing-s;
  }

  .example, .sources, .text {
    font-size: $font-size-netbook-tablet;
  }

  .sub-title {
    font-size: $font-size-sub-title-netbook-tablet;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .text-box {
    width: auto;
  }

  .image {
    max-width: 30%;
  }

  .title {
    font-size: $font-size-second-title-netbook-tablet;
  }

  .image-container-info {
    gap: $spacing-m;
    padding: $spacing-m $spacing-m;
  }

  .example, .sources, .text {
    font-size: $font-size-netbook-tablet;
  }

  .sub-title {
    font-size: $font-size-sub-title-netbook-tablet;
  }
}


