@import "src/variables";

:host {
  display: block;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}

.mean-to-me-section {
  @include flex-center;
  gap: $spacing-s;
  flex-direction: column;
}

.title {
  font-size: $font-size-second-title-desktop;
  text-align: center;
  font-family: $font-family;
  color: $dark-cherry;
}

.info-container {
  @include flex-center;
}

.text-box {
  width: 80%;
  height: 50%;
  padding: $spacing-s;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 40px;
}

.text {
  text-align: center;
  line-height: $line-height;
  font-family: $font-family;
  color: $brown;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: $spacing-xl;
  padding: $spacing-l;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

@media only screen and (max-width: 430px) {
  .title {
    font-size: $font-size-second-title-mobile;
  }

  .text-box {
    width: 70%;
  }

  .text {
    font-size: $font-size-mobile;
  }

  .mean-to-me-section {
    flex-wrap: wrap;
  }

  .info-container {
    flex-direction: column;
  }

  .image-container {
    flex-direction: column;
    gap: $spacing-s;
  }

  .image {
    max-width: 100%;
  }

}

@media only screen and (min-width: 431px) and (max-width: 768px) {
  .text-box {
    width: 80%;
    margin: $spacing-s;
  }

  .title {
    font-size: $font-size-second-title-netbook-tablet;
  }

  .text {
    font-size: $font-size-netbook-tablet;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .text-box {
    width: 80%;
    margin: $spacing-m;
  }

  .title {
    font-size: $font-size-second-title-netbook-tablet;
  }

  .text {
    font-size: $font-size-netbook-tablet;
  }
}


