<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feeling</title>
</head>
<main>
  <section class="mean-to-me-section">
    <h1 class="title">What "Feeling" means to me?</h1>
    <div class="info-container">
      <div class="text-box">
        <p class="text">
          Feeling, to me, is the essence of life itself. It is the constant reminder that we are alive, experiencing the
          world through every sensation, emotion, and thought. To feel is to connect: to the warmth of the sun on our skin,
          the gentle touch of a loved one, or the rush of excitement in our heart. Feeling is what makes us human;
          it breathes color into our days and depth into our moments.
          <br> <br>
          Whether it is joy or sorrow, love or pain, each feeling shapes who we are, teaching us to grow, to empathize,
          and to understand. It is through feeling that we experience the beauty of existence and the profound complexity
          of being alive. For me, feeling is not just a reaction to the world around us—it is the heartbeat of life itself.
        </p>
      </div>
    </div>
    <div class="image-container">
      <img class="image" src="./assets/quote.png" alt="'let yourself feel your feelings' - quote">
    </div>
  </section>
</main>
