<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feeling</title>
</head>
<main>
  <section class="variations-section">
    <h1 class="title">Word variations</h1>
    <div class="info-container">
      <div class="text-box">
        <p class="sub-title">Feelingly</p>
        <p class="text">
          with deep and sincere emotion
        </p>
      </div>
      <div class="text-box">
        <p class="sub-title">Unfeeling</p>
        <p class="text">
          not feeling sympathy for other people's suffering
        </p>
      </div>
      <div class="text-box">
        <p class="sub-title">Feelthy</p>
        <p class="text">
          filthy, indecent, obscene
        </p>
      </div>
    </div>
    <div class="info-container">
      <div class="text-box">
        <p class="sub-title">Feelingness</p>
        <p class="text">
          an emotional character or quality
        </p>
      </div>
      <div class="text-box">
        <p class="sub-title">Feelingless</p>
        <p class="text">
          devoid of feeling, without emotion or sensation
        </p>
      </div>
      <div class="text-box">
        <p class="sub-title">Feelless</p>
        <p class="text">
          numb, insensible
        </p>
      </div>
    </div>
  </section>
</main>
