@import "src/variables";

:host {
  display: block;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}

.variations-section {
  @include flex-center;
  gap: $spacing-s;
  flex-direction: column;
}

.title {
  font-size: $font-size-second-title-desktop;
  text-align: center;
  font-family: $font-family;
  color: $dark-cherry;
}

.info-container {
  @include flex-center;
  flex-direction: row;
  gap: $spacing-m;
}

.text-box {
  width: 20%;
  padding: $spacing-s;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 40px;
}

.text {
  text-align: center;
  line-height: $line-height;
  font-family: $font-family;
  color: $brown;
}

.sub-title {
  font-size: $font-size-sub-title-desktop;
  text-align: center;
  line-height: $line-height;
  font-family: $font-family;
  color: $dark-little-cherry;
}

@media only screen and (max-width: 430px) {
  .title {
    font-size: $font-size-second-title-mobile;
  }

  .text-box {
    width: 30%;
  }

  .text {
    font-size: $font-size-mobile;
  }

  .sub-title {
    font-size: $font-size-sub-title-mobile;
  }

  .variations-section {
    flex-wrap: wrap;
  }

  .info-container {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 431px) and (max-width: 768px) {
  .text-box {
    width: auto;
    margin: $spacing-s;
  }

  .title {
    font-size: $font-size-second-title-netbook-tablet;
  }

  .text {
    font-size: $font-size-netbook-tablet;
  }

  .sub-title {
    font-size: $font-size-sub-title-netbook-tablet;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .text-box {
    width: auto;
  }

  .title {
    font-size: $font-size-second-title-netbook-tablet;
  }

  .text {
    font-size: $font-size-netbook-tablet;
  }

  .sub-title {
    font-size: $font-size-sub-title-netbook-tablet;
  }
}


