$brown: rgb(87, 52, 38);
$dark-cherry: rgb(85, 0, 33);
$cherry: rgb(221, 11, 54);
$grey: rgba(143, 136, 136, 0.5);
$nude: #efe1d1;
$beige: #efe6dd;
$dark-beige: #efe6dd;

$shadow-light: rgba(181, 180, 180, 0.63);
$shadow-dark: rgba(0, 0, 0, 0.09);

$box-shadow: 0 0 0 1.5px $shadow-light, 0 2px 5px 0 $shadow-dark;
$box-shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);

$spacing-small: 0.3rem;
$spacing-medium: 1rem;

$line-height: 1.5;

$font-size-button-desktop: 1rem;
$font-size-button-netbook-tablet: 0.95rem;
$font-size-button-mobile: 0.9rem;

$font-size-title-desktop:2.2rem;
$font-size-title-netbook-tablet:1.6rem;
$font-size-title-mobile: 1.3rem;

$font-size-second-title-desktop:1.8rem;
$font-size-second-title-netbook-tablet:1.4rem;
$font-size-second-title-mobile: 1.1rem;

$spacing-xs: 0.5rem;
$spacing-s: 1rem;
$spacing-m: 1.5rem;
$spacing-l: 2rem;
$spacing-xl: 3rem;
$spacing-xxl: 4rem;
$spacing-3xl: 5rem;
$spacing-4xl: 6rem;

@font-face {
  font-family: 'Heading-Font';
  src: url('/assets/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
}


$font-family: 'Heading-Font', sans-serif;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
