@import "src/variables";

html, body, main{
  height: 100%;
  margin: 0;
  background-color: $nude;
}

html {
  scroll-behavior: smooth;
}

app-root {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
